body {
    margin:0;
    padding:0;
}
.card {
    transform: translateX(7.4%);
    display: flex;
    width: 18rem;
}

.card-custom {
    margin-bottom: 1rem;
}
.row {
    display: flex;
    width: 1378px;
    text-align: center;
}
.container-fluid-A {
    background-color: rgb(235, 232, 232);
    padding: 0;
    width: 1322px;
    transform: translateX(1.61%) translateY(18%);
    margin-top: 41px;
    margin-bottom: 69px;
    
}
.display-5 {
    font-size: 18px;
}
.btn {
    margin-bottom: 32px;
}
